body {
  font-family: helvetica, arial, sans-serif;
	margin: 0;
	background: black;
  color: #f0efd1;
	background: black url('../images/displays/robots.jpg');
  background-size: contain;
  margin: 2em;
}

#navigation {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
}

#navigation > li {
    display: inline;
    padding: 1em;
}

#navigation > li > a {
    text-decoration: none;
}

#navigation > li > a:hover {
    color: lightblue;
}

.active > a {
    color: #F67F00;
}

.icon-github {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/github.png');
}

.icon-github:hover {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/github-white.png');
}

.icon-twitter {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/twitter.png');
}

.icon-twitter:hover {
	width: 64px;
	height: 64px;
	background: url('../images/icons/twitter-white.png');
}

#main-view {
    width: 1200px;
	  min-height: : 85px;
    margin-left: auto;
    margin-right: auto;
}

#main-content {
    float: left;
    width: 70%;
    overflow: none;
}

#side-content {
    float: right;
    width: 25%;
    padding: 0.5em;
}

#mail {
    text-align: center;
}

#mail input {
    background-color: white;
    color: #F67F00;
    padding: 0.2em;
    border: 0px solid;
    font-size: 1.1em;
}

#footer {
    clear: both;
    text-align: center;
    font-size: 0.8em;
}

hr {
	border-top: 1px solid orange;
}

h1, h2, h3, h4 {
  color: #cfba58;
  margin: 0px;
  text-align: center;
}

blockquote {
    font-size: 13pt;
}

.armored-bits {
  font-size: 50pt;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
}

.content {
  font-size: 16pt;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  margin: 1em;
}

.inner-content {
    border: 1px solid #333333;
    background-color: #191919;
    margin: 1em;
    padding: 1em;
}

.payment {
    background: linear-gradient(orange, #F67F00);
    color: white;
    padding: 0.2em;
    margin: 0.2em;
    font-size: 0.7em;
    text-align: center;
}

.payment > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.question-block {
    padding: 1em;
}

.question-q {
    color: #F67F00;
    padding: 0.3em;
}

.question-a {
    padding-left: 1em;
}

a {
    color: #bf3211;
}