body {
  font-family: Calibri, Tahoma, Sans Serif;
	margin: 0;
	background: black;
  color: white;
	background: url('../images/displays/robots.jpg');
  background-size: cover;
  margin: 2em;
}

#navigation {
    list-style-type: none;
    text-align: center;
}

#navigation > li {
    display: inline;
    padding: 1em;
}

#navigation > li > a {
    text-decoration: none;
}

#navigation > li > a:hover {
    color: lightblue;
}

.active > a {
    color: #F67F00;
}

.icon-github {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/github.png');
}

.icon-github:hover {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/github-white.png');
}

.icon-twitter {
	width: 64px;
	height: 64px;
	background-image: url('../images/icons/twitter.png');
}

.icon-twitter:hover {
	width: 64px;
	height: 64px;
	background: url('../images/icons/twitter-white.png');
}

#main-view {
	min-height: 85vh;	
  margin: 2em;
}

#main-content {
    float: left;
    width: 70%;
}

#side-content {
    float: right;
    width: 25%;
    padding: 0.5em;
}

#mail {
    text-align: center;
}

#mail input {
    background-color: white;
    color: #F67F00;
    padding: 0.2em;
    border: 0px solid;
    font-size: 1.1em;
}

#footer {
    clear: both;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

hr {
	border-top: 1px solid orange;
}

h1, h2, h3, h4 {
  color: #F67F00;
  margin: 0px;
  text-align: center;
}

.armored-bits {
  color: #09D4FF;
  font-size: 50pt;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;
}

.content {
  font-size: 20pt;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  margin: 1em;
}

.payment {
    background: linear-gradient(orange, #F67F00);
    color: white;
    padding: 0.2em;
    margin: 0.2em;
    font-size: 0.7em;
}

.blurb {
  color: white;
  font-size: 15pt;
}

.side {
    margin: 1em;
    padding: 1em;
    background-color: black;
    border: 1px solid #F67F00;
}

.question-block {
    padding: 1em;
}

.question-q {
    padding: 0.3em;
}

.question-a {
    padding-left: 1em;
}

a {
    color: #09D4FF;
}